* {
  margin: 0;
  padding: 0;
}
#header {
  color: #5B83AD;
  padding: 10px;
  width: auto;
  height: auto;
  background-color: orange;
  font-family: 'Sans serif';
  font-size: 1.2em;
}
.panel {
  width: auto;
  font-size: 1.2em;
  line-height: 1.2em;
  text-align: center;
}
