<ul class="list-group">
	<li class="list-group-item" ui-sref="cats">
		<a class="nav-link" ui-sref="cats" href="#/cats">Cats</a>
	</li>
	<li class="list-group-item" ui-sref="dogs">
		<a class="nav-link" ui-sref="dogs" href="#/dogs">Dogs</a>
	</li>
	<li class="list-group-item" ui-sref="horses">
		<a class="nav-link" ui-sref="horses" href="#/horses">Horses</a>
	</li>
	<li class="list-group-item" ui-sref="contact-us">
		<a class="nav-link" ui-sref="contact-us" href="#/contact-us">Contact us</a>
	</li>
</ul>